*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(pexels-photo-3278215\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo i {
    position: relative;
    left: 100px;
    transform: rotate(-20deg); 
    /* transform: translate(-50%, -50%) rotate(-20deg); */
    font-size:x-large; 

}
h3{
    display: inline-block;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 30px;
    font-family: 'Protest Revolution', sans-serif;
}
    .navbar a{
    display: inline-block;
    margin-left: 50px;
    font-size: 21px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    word-spacing: 20px;
    letter-spacing: 2px;
    font-family: 'Protest Revolution', sans-serif;
    font-weight: bold;
    }
    .navmain {
        margin-left: 400px;
        margin-top: -20px;
    }
.search input{
    background-color: rgb(255, 255, 255);
    display: inline;
    margin-left: 78%;
    /* margin-bottom: 10px; */
    font-size: larger;
    font-family: 'Protest Revolution', sans-serif;
    border-radius: 5px;
}
.side {
    text-shadow: 2px 3px 3px rgb(153, 65, 17);
    color: rgb(111, 19, 9);
    position: absolute;
    right: 380px;
    top: 250px;
    font-family: 'Courgette', cursive;
    letter-spacing: 2px;
    word-spacing: 20px;
    font-size: large;
    /* animation: fall 3.5s forwards; */
}
pre{
    position: absolute;
    right: 280px;
    top: 380px;
    font-size: 23px;
    font-style: italic;
    font-weight: bolder;
}
.button input {
    position: absolute;
    right: 600px;
    top: 460px;
    font-family: 'Protest Revolution', sans-serif;
    font-size: large;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(255, 238, 238);
    box-shadow: 2px 3px 2px black;  
}
.Register input{
    position: absolute;
    right: 450px;
    top: 460px;
    font-family: 'Protest Revolution', sans-serif;
    font-size: large;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(255, 238, 238);
    box-shadow: 2px 3px 2px black;  
    
}
.footer{
    position: absolute;
    right: 500px;
    top: 520px;
    font-size: 28px;
    letter-spacing: 3px;
}
.H2 {
    margin-left: 45px;
    margin-top: 20px;
}

  .navmain a:hover{
    color: rgb(228, 91, 5);
  }
  .hover input:hover{
    background-color: rgb(244, 95, 95);
  }